
Zobrazení dle komponent
{% for reservation_group in reservations_groups %}

{%set count_current = reservation_group['prices']['current_warehouse']['count'] %}
{%set count_other = reservation_group['prices']['other_warehouse']['count'] - count_current %}
{%set rest_current = count_current - reservation_group['count'] %}
{%set enought_current = (count_current - reservation_group['count']) > 0 %}
{%set enought_all = (reservation_group['prices']['other_warehouse']['count'] - reservation_group['count'])>0 %}

<div class="card my-2">
	<div class="card-header d-flex justify-content-between {%if not enought_all %} bg-danger {% elif not enought_current %} bg-warning {% elif rest_current < 5 %} bg-warning {%end%} bg-gradient">
		<span class="h4">
			<span class="badge bg-primary">{{reservation_group['count']}}<i class="bi bi-x"></i></span> 
			<a class="badge bg-success hover-item" item_id="{{reservation_group['component'][0]['_id']}}" href="./component/{{reservation_group['component'][0]['_id']}}/"> <i class="bi bi-cpu"> </i>{{reservation_group['component'][0]['name']}}</a>
			<a class="badge bg-success" onclick="add_to_orderlist('{{reservation_group['component'][0]['_id']}}'{%if not enought_current %}, {{abs(count_current - reservation_group['count'])}}{%end%})"> <i class="bi bi-cart-plus"></i> </a> 
		</span> 

		<span> 
			<span class="text-muted small">
				<span data-toggle="tooltip" title="Počet kusů v aktuálním skladu. Rezervace zde nejsou zahrnuty"> <i class="bi bi-shop"></i> {{count_current}} ks </span> 
				<span data-toggle="tooltip" title="Počet kusů v ostatních skladech. Rezervace zde nejsou zahrnuty"> <i class="bi bi-building"></i> {{count_other}} ks </span> 
				<span data-toggle="tooltip" title="Počet objednaných kusů"> <i class="bi bi-truck"></i> -- ks </span> 
			</span>
			<span class="h4">
				<span class="badge bg-success" data-toggle="tooltip" title="Nevyužité množství v aktuálním skladu">{{rest_current}} ks</span> 
			</span>
		</span>
	</div>

	<div class="card-body" id="list_of_usage_{{reservation_group['component'][0]['_id']}}">
		{%for reservation in reservation_group['reservations'] %}<div>
			<span>{{reservation.get('reserved', '--')}} ks</span> - 
			<a href="/production/{{reservation['origin_id']}}/edit/" target="__blank__">{{reservation['production_info'][0]['name'] }}</a>
			<span>{{reservation.get('origin', '--')}} </span>
			{{reservation.get('origin_id', '--')}}

		</div>{%end%}
	</div>
</div>


{%end%}