
  <i class="bi bi-plus-square-dotted btn btn-success p-1 mx-3 mb-1" onclick="prepare_supplier_form(-1);"></i>

  {% for i, x in enumerate(component.get('supplier', [])) %}
<div class="card mx-3 my-1">
    <div class="card-header">{{i}}, <b>{{x['supplier']}}</b>, {{x.get('symbol','null')}} <span></span> 
      <a class="bi bi-link" href="{{x.get('full_url','')}}" target="_blank"></a>
      <i class="bi bi-cart-plus"></i>
      <a class="bi bi-pencil" href="##" onclick="prepare_supplier_form({{i}})"></a>
    </div>
    <div class="card-body">
<!--       <span class="small text-muted">{{x}}</span>
 -->      <div style="display: table">
        <div style="display: table-row;">
          <label class="table-cell-label">Dodavatel:</label>
          <span>{{x.get('supplier', '---')}}</span>
        </div>

        <div style="display: table-row;">
          <label class="table-cell-label">Symbol:</label>
          <span>{{x.get('symbol', '---')}}</span> 
          <a class="bi bi-layer-backward text-muted" role="button" href="#data_import" onclick="data_import(supplier='{{x.get('supplier', 'none').lower()}}', symbol='{{x.get('symbol', '')}}')" title="Vyhledat v API dodavatele"></a>
          <!-- href="data_import/{{x.get('supplier', 'none').lower()}}?symbol={{x.get('symbol', '')}}" -->
        </div>

        <div style="display: table-row;">
          <label class="table-cell-label">Odkaz:</label>
          <a target="__blank__" href="{{x.get('full_url', '---')}}">{{x.get('full_url', '---')}}</a>
        </div>

      </div>
    </div>
</div>
  {% end %}


<div class="card mx-3 text-dark bg-light supplier_edit_card" style="display: None;">
<div class="card-header">Editace dodavatele</div>
<div class="card-body">
<form id="form_component_suppiler">
  <div style="display: table;">
    <div class="table-row">
    <label class="table-cell-label" data-bs-toggle="tooltip" title="Pro vytvoření nového dodavatele zvolte <b>ID= -1</b>. Při zvolení jiného bude existující dodavatel přepsát.">ID <i class="material-icons text-muted">help</i></label>
    <input class="table-cell form-control form-control-sm table_style col-sm-9" type="number" min="-1" value="-1" max="{{len(component.get('supplier', []))}}" name="id">
  </div>
    <div class="table-row">
    <label class="table-cell-label">Dodavatel: </label>
        <div class="table-cell"><select class="form-control form-control-sm" name='supplier' id="component_supplier"></select></div>
    </div>
  <div class="table-row">
    <label class="table-cell-label">Symbol, Obj. číslo: </label>
    <input class="table-cell form-control form-control-sm" type="text" name="symbol">
  </div>
  <div class="table-row">
    <label class="table-cell-label">URL: </label>
    <input class="table-cell form-control form-control-sm" type="text" name="url">
  </div>
  <div class="table-row">
    <div class="table-cell"></div>
    <button class="table-cell form-control table_style btn btn-primary col col-sm-9 offset-sm-3" type="submit">Uložit</button>
  </div>
</div>
</form></div></div>


<div class="card mx-3 text-dark bg-light data_import_card" style="display: None;">
<div class="card-header">Import dat</div>
<div class="card-body" id="supplier_import_data_tab">


</div></div>


<script>

suppliers = []

$('#component_supplier').select2({
    width: '100%',
    tags: true,
    ajax: {
      url: '/store/api/get_suppliers/',
      type: "POST",
      dataType: 'json',
      processResults: function (data) {
          console.log(data)
          return {
              results: $.map(data, function (item) {
                  console.log(item);
                  return {
                      text: item,
                      id: item
                  }
              })
          };
      }
    }
});


$('#form_component_suppiler').submit(function(e){
    e.preventDefault();
    data = $(this).serialize();
    console.log(data);
    $.ajax({
        url: 'set_supplier/',
        type: 'POST',
        data: data,
        success:function(d){
          location.reload();
        }
    });
});

// Vyplnit tabulku dodavatele s existujícím záznamem. 
function prepare_supplier_form(supplier){

  if(supplier >= 0){

      $.ajax({
          url: 'get_suppliers/',
          type: 'GET',
          success:function(d){
            var supplier_d = d['supplier'][supplier];
            console.log(d, supplier_d);

            $("#form_component_suppiler input[name=id]").val(supplier);
            $("#form_component_suppiler input[name=symbol]").val(supplier_d['symbol']);
            $("#form_component_suppiler input[name=url]").val(supplier_d['url']);

            var $Option = $("<option selected='selected'></option>").val(supplier_d['supplier']).text(supplier_d['supplier'])
            $("#form_component_suppiler #component_supplier").append($Option).trigger('change');
            

          }
      });
  } else {
    $("#form_component_suppiler input[name=id]").val(supplier);
    $("#form_component_suppiler input[name=symbol]").val("");
    $("#form_component_suppiler input[name=url]").val("");
  }

  $(".supplier_edit_card").show();
}


function data_import(supplier, symbol){


    $.ajax({
        url: 'data_import/'+supplier,
        type: 'GET',
        data: {'symbol': symbol },
        success:function(d){
          $(".data_import_card").show();
          $("#supplier_import_data_tab").empty();
          $("#supplier_import_data_tab").html(d.toString());
          console.log(d);
          //alert(d);
        }
    });


  //href="data_import/{{x.get('supplier', 'none').lower()}}?symbol={{x.get('symbol', '')}}"
}

</script>
